<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<h1>Test Order EJS🚀 </h1>
	<!-- main -->
	<% if(userData.name){ %>
		<div>
			<p>Hello, <%= userData.name  %>! </p>
			<a href="/profile">Edit profile</a>
			<a href="/logout">Log out</a>	
		</div>
	<% } else{ %>  
		<p>Hello, You! Please <a href="/login.html" class="text-primary">Login or Register</a></p>
	<% } %>
	
	<div class="main">
		<!--order-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Order</h3>
				
				<div class="order-form">
					<form action="/order" method="post">
						<input type="text" name="order" placeholder="Order" required="">
						<input type="text" name="address" <% if(userData.address){ %>value=<%= userData.address  %><% } %> placeholder= "Address" required="">
						<input type="text" name="name" <% if(userData.name){ %> value=<%= userData.name  %> <% } %>  placeholder="Name" required="">
						<input type="hidden" name="userId" <% if(userData.id){ %> value=<%= userData.id  %> <% } %> >	
						<div class="tp">
							<input type="submit" value="ORDER NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="copyright">
		<p> &copy; 2016 Register Login Widget . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
</html>